/* style.css */
body {
    font-family: Arial, sans-serif;
    font-size: 5vw;
    width : auto;
    padding: 5vw;
}


@media all and (max-width: 412px) {
  body {
    font-size: 5vw;
    width : auto;
    padding: 5vw;
  }
}

@media all and (min-width: 479px) and (orientation:landscape) {
    body {
      font-size: 2vw;
      /* color : red; */
      width : auto;
      padding: 5vw;
    }
  }

h1 {
    color: #333;
}

p {
    line-height: 1.5;
}

pre {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    overflow-x: auto; /* 내용이 너무 길 경우 스크롤바 표시 */
    /* margin-left: 100PX;
    margin-RIGHt: 100PX; */
    padding: 130px;
    white-space: pre-wrap;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
  }